---
layout: default
title: Products
permalink: /products/
active: true
---
<div class="container">
    <div class="row">
        <h3 class="dgs-medium center-align blue-text">{{ page.title }}</h3>
        <div class="col s12">
            <p class="flow-text">DgS offers a variety of products for your gravity survey needs; from fully integrated
                airborne and marine dynamic sensor solutions, to portable and static land survey and monitoring sensors.</p>
        </div>
    </div>
    {%- assign count = 0 -%}
    {%- for product in site.data.products.products -%}
    {% capture mod %}{{ counter | modulo: 2}}{% endcapture %}
    {% if mod == '0' %}
    <div class="row">
    {% endif %}
        <div class="col s6 m6 l6">
            <div class="card">
                <div class="card-content" style="border-bottom: 5px solid {{ product.accent }}; border-radius: 2px 0 0 0">
                    <span class="card-title">{{ product.name }}</span>
                    <p>{{ product.content }}</p>
                </div>
                <div class="card-image">
                    <img class="materialboxed" src="{{ product.image | prepend: site.data.products.image-base }}">
                </div>
                <div class="card-action">
                    <a class="btn modal-trigger" href="#modal-{{ product.anchor }}">More Info</a>
                    <a class="btn modal-trigger right email-trigger" href="#email-modal">Request a Quote</a>
                </div>
                <div id="modal-{{ product.anchor }}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <h4 class="grey-text text-darken-2">{{ product.name }}</h4>
                                {% if product.details %}
                                <p>{{ product.details }}</p>
                                {% else %}
                                <p>{{ product.content }}</p>
                                {% endif %}
                                {%- if product.table %}
                                <h6 class="center-align">Specifications</h6>
                                <table class="striped">
                                    {% if product.tbl_headers %}
                                    <thead>
                                    <tr>
                                        {% for header in product.tbl_headers -%}
                                        <th>{{ header }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    {%- endif -%}
                                    <tbody>
                                    {% for row in product.tbl_rows -%}
                                    <tr>
                                        <td>{{ row[0] }}</td>
                                        <td>{{ row[1] }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {%- endif -%}

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close btn">Close</a>
                    </div>
                </div>
            </div>
        </div>
    {% if mod == '1' %}
    </div>
    {% endif %}
    {% capture count %}{% increment counter %}{% endcapture %}
    {%- endfor -%}
</div>