---
layout: default
title: News
permalink: /news/
active: true
---
{% assign excerpt_len = 50 %}
<div class="container">
    <div class="row">
        <h3 class="center-align blue-text">{{ page.title }}</h3>
        <div class="col s12 m10">
            <p>Check out the latest news and updates from DgS here, or follow us on our Linkedin page at
                <a href="https://www.linkedin.com/company/dynamicgravitysystems/" target="_blank" rel="noopener">Linkedin: Dynamic Gravity Systems</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l10">
            {%- for post in site.posts -%}
            <div class="card white scrollspy" id="{{ post.short-title }}">
                <div class="card-content">
                    <div class="card-title white">
                        <span class="bold blue-text"><a href="{{ post.permalink }}">{{ post.short-title }}</a></span>
                        <span class="right">{{ post.date | date: "%Y-%m-%d" }}</span>
                    </div>
                    <span class="dgs-medium">{{ post.title }}</span>
                    <div class="divider"></div><br>
                    <div class="row">
                        <div class="col s12 m8">
                            {{ post.content | truncatewords: excerpt_len }}
                            {% assign wc = post.content | strip_html | split: " " | size %}
                            {% if wc > excerpt_len %}
                            <br><br>
                            <a href="{{ post.permalink }}">Read More</a>
                            {% endif %}
                        </div>
                        <div class="col s12 m4">
                            {% if post.image %}
                            <img class="responsive-img rounded" src="{{ post.image | prepend: '/assets/news/' }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <div class="col hide-on-small-only s0 m2 l2">
            <div class="hide-on-small" id="toc">
                <ul class="table-of-contents">
                    {%- for post in site.posts -%}
                    <li><a href="#{{ post.short-title }}">{{ post.short-title }}</a></li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
