<div class="banner" id="banner">
    <a href="#" onclick="randomImage()" title="Randomize Image"><i class="material-icons white-text">refresh</i></a>
</div>
<script>
    let cindex = -1;
    const elem = document.getElementById('banner');
    function setImage (index) {
        cindex = index;
        elem.style.backgroundImage = `url(/assets/banner/banner${index}.jpg)`;
    }
    function randomImage(){
        let index = Math.floor(Math.random() * 6) + 1;
        if(cindex === index){
            return randomImage();
        } else {
            setImage(index);
        }
    }
</script>
