<footer class="page-footer purple darken-3">
    <div id="email-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <h5 class="black-text">Send us an email!</h5>
                <form id="email-form" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled id="email-to" type="email" autocomplete="off" value="info@dynamicgravitysystems.com">
                            <label for="email-to">To:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-text">account_circle</i>
                            <input id="name-input" type="text" tabindex="1" class="validate" autocomplete="name" required>
                            <label for="name-input">Name:</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-text">email</i>
                            <input id="email-input" type="email" tabindex="2" class="validate" autocomplete="email" required>
                            <label for="email-input" data-error="Invalid Email">Email:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="subject-input" type="text" class="validate" tabindex="3" required>
                            <label for="subject-input">Subject:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="margin-bottom: 0px;">
                            <textarea id="body-input" rows="3" class="materialize-textarea" tabindex="4" required></textarea>
                            <label for="body-input">Message:</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer row">
            <div id="recaptcha" class="g-recaptcha"
                 data-sitekey="{{ sitekey }}"
                 data-callback="onEmailSubmit"
                 data-badge="bottomleft"
                 data-size="invisible">
            </div>
            <button class="right modal-action modal-close waves-effect btn">Cancel</button>
            <button class="right btn" onclick="validate()">
                Submit
            </button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s3 m4 l4">
                <blockquote>
                    Dynamic Gravity Systems LLC. &copy; 2018<br>
                    7120 W 117th Ave - Suite B1<br>
                    Broomfield, CO 80020
                </blockquote>
            </div>
            <div class="col s9 m5 l4">
                <div class="valign-wrapper">
                    <p>
                        <a href="#email-modal" class="btn-floating blue pulse modal-trigger"><i class="material-icons white-text">email</i></a>
                        <a href="mailto: info@dynamicgravitysystems.com" class="white-text">info@dynamicgravitysystems.com</a><br><br>
                        <a href="tel: +13038156376" class="btn-floating blue"><i class="material-icons white-text">phone</i></a>
                        <a href="tel: +13038156376" class="white-text">+1-303-815-6376</a><br><br>
                    </p>
                </div>
            </div>
            <div class="col hide-on-small-only m3 l4">
                <a href="/"><img class="right responsive-img" width="150px" src="/assets/logos/DGS-Logo.png"></a>
            </div>
        </div>
    </div>
    <br>
</footer>
