<footer class="page-footer purple darken-3">
    {%- include email_form.html %}
    <!--Footer Contents-->
    <div class="container">
        <div class="row white-text darken-3" style="margin-bottom: 0;">
            <div class="col s6 m2"><span class="dgs-light">Products</span></div>
            <div class="col s6 m2"><span class="dgs-light">Services</span></div>
            <div class="col m3"><span class="dgs-light hide-on-small-only">Projects</span></div>
            <div class="col m3"><span class="dgs-light hide-on-small-only"><a class="white-text" href="/about/">About</a></span></div>
        </div>
        <div class="row">
            <div class="col s6 m2">
                <ul>
                    {%- for product in site.data.products %}
                    <li><a class="white-text" href="/products/{{ product[1].link }}#content">{{ product[0] | capitalize }}</a></li>
                    {%- endfor %}
                </ul>
            </div>
            <div class="col s6 m2">
                <ul>
                    {%- for service in site.services %}
                    {% if service.active -%}
                    <li><a class="white-text" href="/services#{{ service.title }}">{{ service.title }}</a></li>
                    {%- endif %}
                    {%- endfor -%}
                </ul>
            </div>
            <div class="col m3">
                <ul>
                    <li class="show-on-small hide-on-med-and-up dgs-light">Projects</li>
                    <li><a class="white-text" href="https://github.com/DynamicGravitySystems" target="_blank" rel="noopener">Github</a></li>
                    <li><a class="white-text" href="https://github.com/DynamicGravitySystems/DGP" target="_blank" rel="noopener">Dynamic Gravity Processor</a></li>
                    <li><a class="white-text" href="https://github.com/DynamicGravitySystems/LongmanTide" target="_blank" rel="noopener">TideGravity</a></li>
                </ul>
            </div>
            <div class="col s1 m5 l3">
                <span class="dgs-light white-text"><a class="white-text" href="/contact/">Contact Us</a></span>
                <ul>
                    <li>
                        <a href="#email-modal" class="btn-floating blue pulse modal-trigger email-trigger" onclick="setSubject('')"><i class="material-icons white-text">email</i></a>
                        <a href="#email-modal" class="modal-trigger white-text email-trigger" onclick="setSubject('')">Email</a>
                    </li>
                    <li><br></li>
                    <li>
                        <a href="tel: +13038156376" class="btn-floating blue"><i class="material-icons white-text">phone</i></a>
                        <a href="tel: +13038156376" class="white-text">Call</a>
                    </li>
                </ul>
            </div>
            <div class="col l2">
                <a href="/"><img class="right responsive-img hide-on-med-and-down" width="150px" height="150px" src="/assets/logos/DGS-Logo.png"></a><br>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <span class="left" style="font-size: 0.8em;">
                Email: <a href="mailto:info@dynamicgravitysystems.com">info@dynamicgravitysystems.com</a>
            </span>
            <span class="right" style="font-size: 0.8em;">
                Copyright &copy; 2016-2018 Dynamic Gravity Systems LLC.<br>
            </span>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="#top" title="Go to the Top" class="btn-floating blue">
            <i class="material-icons">arrow_upward</i>
        </a>
    </div>
    {% if jekyll.environment == "development" -%}
    <div class="row" style="background-color: orange; margin-bottom: 0;">
        <h5 class="center-align">Development Build</h5>
    </div>
    {% endif -%}
</footer>
