<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108735070-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-108735070-1');
    </script>
    <title>Dynamic Gravity Systems: Advanced Technology Gravity Meters</title>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/main.css"   media="screen,projection"/>
    <!--Import Google Orbitron Font for DgS Headers-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Orbitron">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
