<div class="navbar-fixed" id="top">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo hide-on-small left">
                <img class="" width="75px" src="/assets/logos/DGS-Logo.png">
            </a>
            <ul class="left hide-on-med-and-down">
                <li style="margin-left: 85px"><a style="font-weight: 500; font-size: 1.3em;" href="/" class="blue-text">Dynamic Gravity Systems</a></li>
            </ul>
            <ul class="right">
                {%- for page in site.pages -%}
                {%- if page.active -%}
                <li><a style="font-weight: 500; font-size: 1.2em;" href="{{ page.permalink }}" class="blue-text">{{ page.title }}</a></li>
                {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </nav>
</div>
