<ul id="mobile-nav" class="sidenav">
    <li>
        <div class="center">
            <div class="row">
                <a href="/" title="Home"><img src="/assets/logos/DGS-Logo.png" width="150px" height="150px"></a>
            </div>
            <div class="row">
                <a href="/" title="Home"><span class="dgs-medium large blue-text">Dynamic Gravity Systems</span></a>
            </div>
        </div>
    </li>
    {% for page in site.pages %}
    {% if page.active %}
    <li><a href="{{ page.permalink }}" class="blue-text" style="font-size: 1.2em">{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
    <li class="center large">Contact Us</li>
    <li><a href="mailto: info@dynamicgravitysystems.com">info@dynamicgravitysystems.com</a></li>
    <li><a href="tel: +13038156376">+1 (303) 815-6376</a></li>
</ul>