<div class="section grey darken-3">
    <div class="container">
        <div class="card">
            <div class="card-content" style="height: 800px;">
                <span class="center-align card-title" id="tideChartTitle">Tidal Gravity Correction (Broomfield, CO)</span>
                <span class="center" id="coordinates"></span>
                <canvas id="tideChart">
                    Graph unavailable.
                </canvas>
                <script async defer src="/js/dist/tideplot.bundle.js"></script>
            </div>
            <div class="card-action row">
                <span id="currentTC" class="left"></span>
                <span class="right"> Last Data: <span id="currentDate" class=""></span></span>
            </div>
        </div>
    </div>
</div>
