@mixin box-shadow($args...) {
    /* h-shadow v-shadow blur spread color */ 
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

article#home {
    margin-top: 20px;
    border: none;
    @include box-shadow(1px 1px 1px 1px $gray);
    
    background-color: $white;
}

article {
    min-height: 50px;
    margin: auto;
    margin-top: 5px;
    padding: 5px 5px 10px 5px;
    background-color: $light;
    
    div.smallsection {
        position: relative;
        padding: 10px;
        margin-bottom: 5px;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(1px 1px 2px $dark);
        h2 {
            margin-top: 0px;
            padding-top: 0px;
        }
    }
    div.section {
        position: relative;
        padding: 10px;
        margin-bottom: -55px;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(1px 1px 2px $dark);
    }
    div.section:last-of-type {
        margin-bottom: 10px;
    }
    .section::before,
    .section::after {
        content: " ";
        display: table;
    }
    .section::after {
        /*Ensure floated images don't overflow (Clearfix)*/
        clear: both;
    }
    .flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        margin-top: 15px;
        padding: 5px;
    }
    .flex-item {
        flex: 1;
        display: block;
        margin: 3px;
        padding: 5px;
    }
    .center-text,
    {
        text-align: center;
    }
    .right {
        float: right;
        margin-left: 30px;
    }
    .left {
        float: left;
        margin-right: 30px;
    }
    p, a, li, span, h2, h3, h4, h5 {
        font-family: $bodyFont;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5em;
        margin-top: .5em;
    }
    h1 {
        font-weight: bolder;
        font-family: $headerFont;
        font-size: 2em;
        color: $primaryColor;
    }
    h2 {
        font-weight: bold;
        font-size: 1.7em;
        color: $dark;
        padding-top: 55px;
    }
    h2:first-of-type, h2#airborne-gravity, h2#upgrade {
        padding-top: 10px;
    }
    h2 > a {
        text-shadow: 1px 1px 1px $dark;
    }
    h3 {
        font-weight: 500;
        font-size: 1.4em;
        color: darken($secondaryColor, 15%);
    }
    h4 {
        font-weight: bold;
        font-size: 1.2em;
        color: $primaryColor;
    }
    h5 {
        font-weight: bold;
        font-size: 1.1em;
        color: $secondaryColor;
    }
    hr.dgs {
        margin-top: 25px;
        margin-bottom: -20px;
        border: none;
        border-top: solid 1px $dark;
        text-align: center;
    }
    hr.dgs:after {
        content: url('/images/logo-small.png');
        display: inline-block;
        position: relative;
        top: -12px;
        left: -12px;
    }
    p {
        font-size: .9em;
        padding-left: .5vw;
        color: $textColor;
    }
    p.block {
        flex: auto;
        justify-content: left;
        width: 50%;
        border: 1px solid $dark;
    }
    a {
        color: $linkColor;
        font-weight: bold;
        text-decoration: none;
    }
    p.toplink > a {
        position: absolute;
        bottom: 5px;
    }
    blockquote {
        background-color: lightblue;
    }
    img {
        display: inline;
        border-radius: 3px;
        max-width: 400px;
        max-height: 400px;
        margin: 0 10px 0 10px;
        @include box-shadow(1px, 1px);
    }
    img#gallery {
        border: 1px solid $dark;
    }
    img#github {
        width: 75px;
        vertical-align: middle;
    }
    ul {
        list-style: square;
        overflow: hidden;
        /*li:before {
            content: "\2014  ";
        }*/
    }
    @media only screen and (max-width: 650px) {
        img {
            display: none;
        }
    }
}