
$bgColor: rgb(245,245,245);
$primaryColor: rgb(29, 119, 161);
$secondaryColor: steelblue;
$textColor: black;
$light: whitesmoke;
$white: white;
$dark: dimgray;
$gray: darkgray;
$purple: slateblue;
$blue: rgb(40, 30, 120);
$fontColor: rgb(25,25,25);
$linkColor: darkorange;
$maxWidth: 2560px;
$contentMax: 1792px;
$bodyWidth: 70%;
$navFont: Courier New, Courier, monospace;
$bodyFont: Source Sans Pro, Helvetica Neue, monospace;
$headerFont: Courier New, Courier, monospace;