
$bgColor: rgb(245,245,245);
$primaryColor: rgb(29, 119, 161);
$secondaryColor: steelblue;
$textColor: black;
$light: whitesmoke;
$white: white;
$dark: dimgray;
$gray: darkgray;
$purple: slateblue;
$blue: rgb(40, 30, 120);
$fontColor: rgb(25,25,25);
$linkColor: darkorange;
$maxWidth: 2560px;
$bodyWidth: 70%;
$contentMax: ($maxWidth * .7);
$navFont: Orbitron, Courier New, Courier, monospace;
$bodyFont: Open Sans, Source Sans Pro, Helvetica Neue, monospace;
$headerFont: Orbitron, Courier New, Courier, monospace;

* {
    box-sizing: border-box;
    max-width: $maxWidth;
}
body {
    background-color: $bgColor;
    overflow: auto;
    padding: 0;
    margin: 0;
}