
$bgColor: rgb(245,245,245);
$primaryColor: rgb(29, 119, 161);
$secondaryColor: rgb(0, 0,0);
$light: whitesmoke;
$white: white;
$dark: slategray;
$gray: darkgray;
$purple: slateblue;
$blue: rgb(20, 30, 120);
$fontColor: rgb(25,25,25);
$linkColor: darkorange;
$maxWidth: 1920px;
$contentMax: 1700px;
$bodyWidth: 70%;
$navFont: Courier New, Courier, monospace;
$bodyFont: Source Sans Pro, Helvetica Neue, monospace;
$headerFont: Courier New, Courier, monospace;