// =================================
// Custom styles for DgS theme
// =================================


$dgs-header-fonts: Orbitron, "Courier New", monospace;
$dgs-card-color: 'purple';


.dgs-heavy{
    font-weight: 800;
}
.dgs-medium {
  font-weight: 600;
}
.dgs-light {
  font-weight: 400;
  font-size: 1.2em;
}

.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

// Sticky footer - sticks footer to bottom of page even when content is short
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}