header {
    display: block;
    position: relative;
    top: 0px;
    z-index: 1;
    margin: auto;
    width: 100%; 
    max-width: $maxWidth;
    height: 200px;
    background-image: url('/images/DGS-Banner-Clean.jpg');
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;
    border: none;
    border-bottom: 1px solid $dark;
    border-radius: 0 0 2px 2px;
    .container {
        width: $bodyWidth;
        margin-left: 15%;
        margin-right: 15%;
    }
    #logo {
        display: block;
        background-image: url('/images/DGS-Logo.png');
        background-size: contain;
        width: 150px;
        height: 150px;
        position: relative;
        top: 30px;
        left: 5px;
    }
}