main {
    display: block;
    position: relative;
    top: 55px;
    width: $bodyWidth;
    max-width: $contentMax;
    margin: auto;
    margin-bottom: 75px;

    div.home {
        display: flex;
        width: 100%;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-around;
        a.container {
            /* width: 250px; 
            height: 250px; */
            min-width: 250px;
            min-height: 250px;
            max-height: 350px;
            border: 2px solid $dark;
            margin: 5px;
            flex: 1 1 auto;
            object-fit: contain;
            vertical-align: middle;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 3px;
            text-decoration: none;

            &:visited {
                text-decoration: none;
            }
            &:hover, &:active {
                border-color: $linkColor;
                color: $linkColor;
                .link {
                    color: $linkColor;
                }
            }
            .link {
                display: block;
                top: 100px;
                width: 100%;
                background-color: rgba($primaryColor, .95);
                text-align: center;
                color: $white;
                font-family: $bodyFont;
                font-weight: bold;
                font-size: 1.7em;
            }
            &#air {
            background-image: url('/images/home/air.jpg');
            align-self: flex-start;
            }
            &#sea {
                background-image: url('/images/home/sea.jpg');
                align-self: center;
            }
            &#land {
                background-image: url('/images/home/land.jpg');
                align-self: center;
            }
        }
    } 
}