nav {
    position: absolute;
    z-index: 2;
    width: $bodyWidth;
    max-width: $contentMax;
    left: 15%;
    padding: 0;
    border-bottom: 1px solid black;
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
    }
    li {
        float: right;
        margin-left: 15px;
        margin-right: 5px;
    }
    a, a:visited {
        display: inline-block;
        color: $textColor;
        font-family: $bodyFont;
        font-size: 1.3em;
        font-weight: bolder;
        text-decoration: none;
        padding: 15px 5px 15px 5px;
    }
    a.button:hover {
        color: $light!important;
        background-color: $dark!important;
    }
    a#dgs:hover {
        color: black;

    }
    #dgs {
        float: left;
        padding: 8px!important;
        margin: 0;
        margin-top: 5px;
        color: $purple;
        font-family: $navFont;
        font-size: 1.5em;
        font-weight: bolder;
    }
    @media only screen and (max-width: 1200px){
        #dgs {
            display: none;
        }
        a, a:visited {
            font-size: 1.1em;
        }
        ul {
            text-align: center;
            table-layout: fixed;
            height: 50px;
        }
        li {
            display: inline-block;
            float: none;
            margin: 0;
        }
    }
    @media only screen and (max-width: 550px){
        a, a:visited {
            font-size: .8em;
        }
        ul {
            overflow: hidden;
        }
    }
}
@media only screen and (min-width: $maxWidth){
    nav {
        left: $maxWidth * .15;
    }
}
.fixed {
    position: fixed;
    top: 0;
    background-color: $light;
}