<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include nav.html %}
<main>
    <article>
        {{ content }}

        <div id="gallery">
            <h2>{{ site.data.gallery.description }}</h2>

        </div>
        {% assign path = site.data.gallery.imagePath %}
        {% for image in site.data.gallery.images %}
        <a href="{{ image.name | prepend: path }}" data-lightbox="DGS"
            data-title="{{ image.title }}">
            <img class="materialboxed" src="{{ image.thumb | prepend: path }}" alt="{{ image.name }}"/>
        </a>
        {% endfor %}
    </article>
    {% include footer.html %}
</main>
</body>
</html>
