<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <main>
        <article id="home">
            {{ content }}
        </article>
        <div class="home">
            <a class="container" id="air" href="{{ 'products#airborne-gravity' | prepend: site.baseurl }}"><span class="link">AIRBORNE</span></a>
            <a class="container" id="sea" href="/products#marine-gravity"><span class="link">MARINE</span></a>
            <a class="container" id="land" href="/products#land-gravity"><span class="link">LAND</span></a>
        </div>

    </main>
    {% include footer.html %}
</body>
</html>
