<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include nav.html %}
<main>
    {% include banner.html %}
    <div class="section">
        <div class="container row">
            {{ content }}

            <div class="row">
                <div class="col s4 center">
                    <a href="/products#airborne">
                        <i class="large material-icons black-text darken-4">flight_takeoff</i>
                        <h4 class="center orange-text">Airborne Gravity</h4>
                    </a>
                    <p>{{ site.data.home.airborne_caption }}</p>
                </div>
                <div class="col s4 center">
                    <a href="/products#marine">
                        <i class="large material-icons blue-text">directions_boat</i>
                        <h4 class="center orange-text">Marine Gravity</h4>
                    </a>
                    <p>{{ site.data.home.marine_caption }}</p>
                </div>
                <div class="col s4 center">
                    <a href="/products#land">
                        <i class="large material-icons green-text">landscape</i>
                        <h4 class="center orange-text">Land Gravity</h4>
                    </a>
                    <p>{{ site.data.home.land_caption }}</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</main>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
